.dashboard-wrapper {
  padding: 2em 0;
  .ui.grid > .row {
    &.grid-row {
      justify-content: space-between;
      margin-bottom: 1.3em;
    }
  }

  .item {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 12px;
    padding: 22px;
  }
}
